header {
    h1,
    h4 {
        color: $heading-color;
        letter-spacing: 1px;
        font-size: 1.5em;
        margin: 0;
        font-weight: 400;
    }
    h1 {
        margin: 0 0 20px 0;
    }
    h4 {
        font-size: 1.1em;
        text-align: center;
    }
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px 0 0 0;
    margin: 0 0 50px 0;
}

nav {
    margin-bottom: 50px;
    ul {
        user-select: none;
    }
    li {
        margin: 0 15px;
        text-transform: uppercase;
        a {
            font-weight: 700;
            color: rgba(20, 20, 20, .70);
            font-size: .9em;
            letter-spacing: 1px
        }
    }
}

main {
    margin: 0 0 15px 0
}

.image {
    margin: 0 0 30px 0;
    img {
        max-height: 545px;
    }
}

.about {
    h4 {
        @extend .h4;
    }
    p {
        font-size: 1.1em;
        padding: 5px 0;
        line-height: 30px;
    }
    a {
        color: #94394c;
        font-weight: bold;
    }
    margin: 0 0 70px 0;
}

.work {
    h4,
    h2 {
        margin: 0 0 15px 0;
    }
    h4 {
        @extend .h4;
    }
    h2 {
        font-weight: 300;
    }
    p {
        margin: 10px 0 0 0;
        line-height: 25px;
    }
    a {
        display: block;
        color: $text-color;
        margin: 0 0 50px 0;
        border-left: 2px solid lightgray;
        padding: 15px;
        transition: all .5s ease-in-out;
        &:hover h2 {
            color: #00708C;
        }
    }
    margin: 0 0 30px 0;
}

.contact {
    h4 {
        @extend .h4;
    }
    p {
        font-size: 1.1em;
        padding: 5px 0;
        line-height: 30px;
    }
    margin: 0 0 30px 0;
    form {
        label {
            display: inline-block;
            width: 100%;
            text-align: left;
            color: #fff;
            opacity: 0;
        }
        input[type=email],
        input[type=text],
        textarea {
            box-sizing: border-box;
            outline: 0;
            display: block;
            padding: 10px;
            border: none;
            border-bottom: 1px solid lightgray;
            font-size: 1.1em;
            font-weight: 300;
            height: 50px;
            color: #454545;
        }
        input[type=submit] {
            background-color: transparent;
            border: 2px solid lightgray;
            display: block;
            margin: 25px auto;
            cursor: pointer;
            padding: 15px;
            text-decoration: none;
            text-transform: uppercase;
            transition: color .5s;
            color: #454545;
        }
        textarea {
            resize: none;
            height: 150px;
        }
    }
}

footer {
    margin: 0 0 30px 0;
}

.websites {
    max-width: initial;
}

.gallery {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 15px auto;
    width: 80%;
  }
  
  .img {
    width: 350px;
    height: 350px;
    margin: 15px;
    opacity: 0.9;
    transition: all 0.3s ease-in-out;
    &:hover {
      opacity: 1;
    }
  }
  
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  @media screen and (max-width: 500px) {
    .img {
      opacity: 1;
      width: auto;
      height: auto;
    }
  }
  

@media (min-width: 700px) {
    .image {
        img {
            display: block;
            margin: 0 auto;
            max-height: 545px;
        }
    }
}

@media (min-width: 810px) {
    .work {
        ul {
            display: flex;
            a {
                min-height: 148px;
            }
            li {
                width: 33.3333%;
            }
        }
    }
}

@media (min-width: 960px) {
    .contact {
        form {
            width: 70%;
            margin: 0 auto;
        }
    }
}