header {
    h3,
    h4 {
        color: $heading-color;
        letter-spacing: 1px;
        margin: 0;
        font-weight: 400;
        text-align: center; 
    }
    h1 {
        color: $heading-color;
        letter-spacing: 1px;
        font-weight: 400;
        margin: 0 0 20px 0;
    }
    h4 {
        font-size: 1.1em;
        text-align: center;
    }
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px 0 0 0;
    margin: 0 0 50px 0;
}

// Counter 
.counters {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    .counter {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .counter-wrapper {
        display: flex;
        justify-content: space-evenly;
        padding: 20px 0;
        flex-wrap: wrap;
    }
    svg {
        width: 100px;
        align-self: center;
    }
    p {
        text-align: center;
        padding: 20px;
        font-size: 2em;
        margin: 0 0 10px 0;
    }
    h3,
    h4 {
        @extend .h4;
    }
}

@media screen and (max-width:600px) {
    .counter-wrapper {
        flex-direction: column;
    }
}

nav {
    margin-bottom: 50px;
    ul {
        user-select: none;
    }
    li {
        margin: 0 15px;
        text-transform: uppercase;
        a {
            font-weight: 700;
            color: rgba(20, 20, 20, .70);
            font-size: .9em;
            letter-spacing: 1px
        }
    }
}

main {
    margin: 0 0 15px 0
}

.image {
    margin: 0 0 30px 0;
    img {
        max-height: 545px;
    }
}

.about {
    h3,
    h4 {
        @extend .h4;
    }
    p {
        font-size: 1.1em;
        padding: 5px 0;
        line-height: 30px;
    }
    a {
        color: #94394c;
        font-weight: bold;
    }
    margin: 0 0 70px 0;
}

.work {
    h3,
    h4,
    h2 {
        margin: 0 0 15px 0;
    }
    h3,
    h4 {
        @extend .h4;
    }
    h2 {
        font-weight: 300;
    }
    p {
        margin: 10px 0 0 0;
        line-height: 25px;
    }
    a {
        display: block;
        color: $text-color;
        margin: 0 0 50px 0;
        border-left: 2px solid lightgray;
        padding: 15px;
        transition: all .5s ease-in-out;
        &:hover h2 {
            color: #00708C;
        }
    }
    margin: 0 0 30px 0;
}

.contact {
    h3,
    h4 {
        @extend .h4;
    }
    p {
        font-size: 1.1em;
        padding: 5px 0;
        line-height: 30px;
    }
    margin: 0 0 30px 0;
    form {
        label {
            display: inline-block;
            width: 100%;
            text-align: left;
            color: #fff;
            opacity: 0;
        }
        input[type=email],
        input[type=text],
        textarea {
            box-sizing: border-box;
            outline: 0;
            display: block;
            padding: 10px;
            border: none;
            border-bottom: 1px solid lightgray;
            font-size: 1.1em;
            font-weight: 300;
            height: 50px;
            color: #454545;
        }
        input[type=submit] {
            background-color: transparent;
            border: 2px solid lightgray;
            display: block;
            margin: 25px auto;
            cursor: pointer;
            padding: 15px;
            text-decoration: none;
            text-transform: uppercase;
            transition: color .5s;
            color: #454545;
        }
        textarea {
            resize: none;
            height: 150px;
        }
    }
}

footer {
    margin: 0 0 30px 0;
}

.websites {
    //letter-spacing: 1px;
    h3 {
        margin: 20px 0 15px 0;
    }
    header h3 {
        margin: 0
    }
    h4 {
        @extend .h4;
        margin: 0;
        text-transform: capitalize;
        display: inline-block;
        a {
            border: 0;
            padding: 15px 0 10px 0;
            color: #00708C;
            margin: 0;
            font-weight: 700;
            display: inline-block;
            &:hover {
                text-decoration: underline;
            }
            
            &:nth-of-type(2) {
                margin: 0 0 0 10px;
            }
            &:last-of-type {
                margin: 0 0 0 10px;
            }
        }
        .link-container:first-of-type a:first-child {
            margin: 0;
        }
        i {
            color: #00708C;
        }
    }
    p {
        margin: 0 0 15px 0;
        font-size: 1.1em;
        line-height: 30px;
    }
}

@media screen and (max-width: 500px) {
    .websites h4 .link-container a {
        margin: 0;
    }
}

@media screen and (min-width: 500px) {
    .websites h4  {
        display: flex;
    }
}

.gallery {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 20px auto;
    width: 80%;
}

.img {
    width: 350px;
    height: auto;
    margin: 15px;
    opacity: 0.9;
    transition: all 0.3s ease-in-out; // position: relative;
    &:hover {
        opacity: 1;
        ul {
            opacity: 1;
            transition: all .3s ease-in-out;
        }
    }
    ul {
        @extend .center;
        flex-direction: column;
        display: none;
        li {
            &:first-of-type {
                font-weight: 700;
                text-transform: uppercase;
            }
        }
    }
    img {
        width: 100%;
        height: auto;
        object-fit: scale-down;
    }
}

.websites .img {
    width: 200px;
    height: auto;
}

.error-page {
    height: 100vh;
    @extend .center;
    img {
        width: 460px;
        height: auto;
    }
}

@media screen and (max-width: 500px) {
    .img {
        opacity: 1;
        width: auto;
        height: auto;
    }
}

@media (min-width: 700px) {
    .image {
        img {
            display: block;
            margin: 0 auto;
            max-height: 545px;
        }
    }
}

@media (min-width: 810px) {
    .work {
        ul {
            display: flex;
            a {
                min-height: 148px;
            }
            li {
                width: 33.3333%;
            }
        }
    }
}

@media (min-width: 960px) {
    .contact {
        form {
            width: 70%;
            margin: 0 auto;
        }
    }
}