header,
nav,
.work,
.contact {
  position: relative;
  bottom: 25px;
  animation: 2s ease 0s normal forwards 1 fadein;
  transition: all 0.5s ease-in;
}

.image,
.about {
  position: relative;
  bottom: -25px;
  animation: 2s ease 0s normal forwards 1 fadein;
  transition: all 0.5s ease-in;
}

.counters {
  animation: 3s ease 0s normal forwards 1 fadein;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: "Nunito Sans", sans-serif;
  color: $text-color;
  line-height: $text-line-height;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $heading-color;
  line-height: $heading-line-height;
  font-family: "Nunito", sans-serif;
}

a {
  text-decoration: none;
  &:hover {
    color: #00708c;
  }
}

img {
  max-width: 100%;
}

ul {
  list-style: none;
}
